doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='')
//if IE 8
  html.no-js.lt-ie9(lang='')
// [if gt IE 8] <!
html.no-js(lang='')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    - var title = title || "BusyAlert"
    title #{title}
    meta(name='description', content='')
    meta(natitleme='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    // <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    // For Plugins external css
    link(rel='stylesheet', href='/stylesheets/plugins.css')
    link(rel='stylesheet', href='/stylesheets/lato-webfont.css')
    link(rel='stylesheet', href='/stylesheets/magnific-popup.css')
    // Theme custom css
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Theme Responsive css
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    script(src='/javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js')
  body
    block content
